.ContestPreview {

  .contest-name {
    padding: 0.5em;
  }
}

.link {
  cursor: pointer;
}

.home-link {
  margin-top: 1em;
  color: #0000ee;
}

.btn-small {
    font-size: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 0 12px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.checkbox{
  height: 100px;
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked{
  opacity: 1;
  pointer-events: auto;
}