.RecipePreview .contest-name {
  padding: 0.5em; }

.RecipePreview .card-content {
  position: relative; }

.link {
  cursor: pointer; }

.home-link {
  margin-top: 1em;
  color: #0000ee; }

.btn-small {
  font-size: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 0 12px; }

.row {
  display: flex;
  flex-wrap: wrap; }

.checkbox {
  position: absolute;
  top: 30px;
  right: 10px; }

[type="checkbox"].filled-in:not(:checked) + span:not(.lever):after {
  border: 2px solid #fff; }

.disabled.btn-small, .btn-small.disabled {
  color: #546e7a !important; }
